li 
{
	display: inline;
}

.centre
{
	display: block;
	margin-left: auto;
	margin-right: auto;

}
.button
{
	text-align: center;
}
.space
{
	padding-left: 27px;
    margin: 0;
    text-align: right;
}

html, body
{
	display : flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	font-family: Arial;
}

header{
	text-align: right;
}

.last
{
	display: flex;
	justify-content: space-between;
}

.connection
{
	border: 1px #4285f4 solid;
	padding: 7px 10px 7px 10px;
    text-align: center;
    background-color: #4285f4;
    text-decoration: none;
    color: white;
}

.a
{
	text-decoration: none;
	color: white;
}