li 
{
	display: inline;
}

.centre
{
	display: block;
	margin-left: auto;
	margin-right: auto;

}
.button
{
	text-align: center;
}
.space
{
	padding-left: 15px;
    margin: 0;
    text-align: right;
    
}

.space_pub{
    margin: 0;
    padding: 0;
}

nav{
	margin-left: -40px;
}

.toplink {
	color: black;
	padding-left: 10px;

}

.toplink:hover{
	text-decoration: underline;
}

html, body
{
	display : flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	font-family: Arial;
	margin: 0px;
	font-size: 13px;
}

header{
	text-align: right;
	margin: 15px;
}

.last
{
	display: flex;
	justify-content: space-between;

}

.connection
{
	border: 1px #4285f4 solid;
	padding: 7px 10px 7px 10px;
    text-align: center;
    background-color: #4285f4;
    text-decoration: none;
    color: white;
    margin-left: 20px;
    border-radius: 2px;
}

.a
{
	text-decoration: none;
	color: white;
}

a {
	color: #666;
	text-decoration: none;
}

input{
	height: 25px;
	width: 632px;
	background-color: white;
	border: 1px solid #ABB3B2;
	box-shadow: 0px 1px 1px #ABB3B2;
	margin: 20px;
	padding: 10px;
	border-radius: 2px;

}

input:hover{
	box-shadow: 0px 3px 2px #ABB3B2;
}


button{
	background-color: #f2f2f2;
	border : 1px solid #f2f2f2;
	border-radius: 2px;
	color: #757575;
	font-size: 13px;
	font-weight: bold;
	margin: 11px 4px;
	min-width: 54px;
	padding: 0 16px;
	text-align: center;
	height: 36px;

}
button:hover{
	color: black;
	border: 1px solid #757575;
}

footer div {
	padding-left: 27px;
	padding-right: 27px;
	background-color: #f2f2f2;
	height: 40px;
	border-top: 1px solid #ABB3B2;
	padding-bottom: 10px;

}
footer 
{
	
	color: #666;
	
}
.space:hover {
	text-decoration:underline;
}

.space_pub:hover {
	text-decoration:underline;
}